/* base rule*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{

  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Roboto", sans-serif;

}
html{

font-size: 62.5%;
/*1rem =10px*/

}

h1,h2,h3,h4,h5,h6 {

    font-family: "Poppins", sans-serif;

}

p,li,a {

    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color:var(--para-color);
    font-weight: 400;

}

a {

   text-decoration: none;
  
}
li {

list-style: none;

}

/**  base rule end**/


/* start theme*/

:root {


--main-color: #0062ff;
--supporting-color: #ebf3fe;
--font-color: #424242;
--title-color:#1c8af1;
--bg-color: white;
--heading-color: #000a19;
--para-color: #504e4d;    
--btn-hover-bg-color: #003b99;
--btn-box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
--image-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* end theme*/


/** start Layout **/

.container{

max-width: 142rem;

margin: 0  auto;
padding: 9.6rem 2.4rem;

}

.grid {

  display: grid;


}
.grid-col-two {

  grid-template-columns: repeat(2,1fr);
}

/** end Layout **/

/*======== start moduel/reusable============= */

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 0.6rem;
  text-align: center;

   & a{

color: var(--bg-color);

   }

}


/* ======= end module ==============*/

/*Nav bar section*/

.section-navbar{


  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}

.section-navbar .container{

display: flex;
justify-content: space-between;
align-items: center;
padding: 1.8rem 0;


& .navbar-logo a p{

 font-weight: 800;
 letter-spacing: 0.1rem;
 word-spacing: 0.1rem;
 font-family: "Lobster", sans-serif;
   & span {
font-family: "Lobster", sans-serif;
font-weight: 400;
      color: red;
      font-size: 2.5rem;


   }

}

}

.section-navbar .container .navbar ul{


  display: flex;
  gap: 3.2rem;

    & li a {


        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
         &::after{

            content: "";
            position: absolute;
            bottom: -0.4rem;
            left: 0;
            width: 100%;
            border: 0.2rem solid var(--main-color);
            left: -0.2rem;
            transition:  all 0.3s ease-in-out;
            transform: scaleX(0);
            
            

         }

    }
  & li a:hover::after {



    transform: scaleX(1);

  }

}

/* ========== Nav bar section end =============== */
/* ===========Start Hero Section ================ */

main {


background-image:
 linear-gradient(to right top,
#1e3b66, 
#6e4381,
#ba4578, 
#e95e51, 
#eb9612);

}

.section-hero .grid{

  align-items: center;
  gap:8rem;

   & .hero-subheading {

    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: var(--supporting-color);
    font-weight: 700;
   }

   & .hero-heading{

     font-size: 5.8rem;
     font-family: "Bungee", sans-serif;
     font-weight: 400;
     font-style: normal;
     color: var(--title-color);

   }
   & .hero-subtitle{


      text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
     color: var(--supporting-color);
     font-weight: 700;
     margin-bottom: 4rem;
   }

   & .hero-para{
         font-size: 1.8rem;
        text-transform: none;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        color: rgb(240, 211, 175);

   }

   & .grid{

        margin-top: 2.5rem;
        padding-top: 2.5rem;

   }

}
.section-hero-image figure {

width: 100%;
height: auto;
background-color: #f5cb8d;
border-radius: 50%;
text-align: center;
overflow: hidden;
box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: all 0.3s ease-in-out ;
&:hover{

 box-shadow: var();
transform: translate3d();
box-shadow: var(--image-box-shadow);
transform: scale(0.8);
}

& img{

  width: 80%;
  height: auto;
  transform: translate(1rem,6rem);
  
 
}

}


/* ===========End hero Section ================== */