/* base rule*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lilita+One&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{

  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Roboto", sans-serif;

}
html{

font-size: 62.5%;
/*1rem =10px*/

}

h1,h2,h3,h4,h5,h6 {

    font-family: "Poppins", sans-serif;

}

p,li,a {

    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color:var(--para-color);
    font-weight: 400;
    line-height: 1.5;

}

a {

   text-decoration: none;
  
}
li {

list-style: none;

}

/**  base rule end**/


/* start theme*/

:root {


--main-color: #0062ff;
--supporting-color: #ebf3fe;
--font-color: #424242;
--title-color:#1c8af1;
--bg-color: white;
--heading-color: #000a19;
--para-color: #504e4d;    
--btn-hover-bg-color: #003b99;
--btn-box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
--image-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* end theme*/


/** start Layout **/

.container{

max-width: 142rem;
margin: 0  auto;
padding: 9.6rem 2.4rem;

}

.grid {

  display: grid;


}
.grid-col-two {

  grid-template-columns: repeat(2,1fr);
}
.grid-col-four{

grid-template-columns: repeat(4,1fr);

}
.grid-col-five{

  grid-template-columns: repeat(5,1fr);
  
}
.grid-col-six{

 
  grid-template-columns: repeat(6,1fr);


}

.section-common-heading ,.section-common-subheading{

  text-align: center;
  

}

.section-common-heading{
   font-size: 3.5rem;
   font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--btn-hover-bg-color);

}
.section-common-subheading{


  font-size: 2rem;
   font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(42, 61, 231);


}
.education-common-heading{

text-align: center;
font-size: 2.5rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--btn-hover-bg-color);

}

.skill-content .skill-name{


text-align: center;
font-size: 2.5rem;
font-family: "Lilita One", sans-serif;
font-style: normal;

}



/** end Layout **/

/*======== start moduel/reusable============= */

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 0.6rem;
  text-align: center;

   & a{

color: var(--bg-color);

   }

}

.fa-brands , .fa-solid{

font-size: 5rem;
letter-spacing: 2.5rem;
}
 .fa-square-github{

color: black;


}


 .fa-envelope{

  color:red;
}
.fa-hackerrank,.fa-square-whatsapp{

  color: green;
}
.fa-square-instagram{


  color:  rgb(252, 48, 82)
}




/* ======= end module ==============*/

/*Nav bar section*/

.section-navbar{


  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}

.section-navbar .container{

display: flex;
justify-content: space-between;
align-items: center;
padding: 1.8rem 2.4rem;



& .navbar-logo a p{

 font-weight: 800;
 letter-spacing: 0.1rem;
 word-spacing: 0.1rem;
 font-family: "Lobster", sans-serif;
   & span {
font-family: "Lobster", sans-serif;
font-weight: 400;
      color: red;
      font-size: 2.5rem;


   }

}

}

.section-navbar .container .navbar ul{


  display: flex;
  gap: 3.2rem;

    & li a {


        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
         &::after{

            content: "";
            position: absolute;
            bottom: -0.4rem;
            left: 0;
            width: 100%;
            border: 0.2rem solid var(--main-color);
            left: -0.2rem;
            transition:  all 0.3s ease-in-out;
            transform: scaleX(0);
            
            

         }

    }
  & li a:hover::after {



    transform: scaleX(1);

  }

}

/* ========== Nav bar section end =============== */
/* ===========Start Hero Section ================ */

main {
height: 85rem;
position: relative;
background-image:
 linear-gradient(to right top,
#1e3b66, 
#6e4381,
#ba4578, 
#e95e51, 
#eb9612);

}

.section-hero .grid{

  align-items: center;
  gap:8rem;

   & .hero-subheading {

    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: var(--supporting-color);
    font-weight: 700;
   }

   & .hero-heading{

     font-size: 5.8rem;
     font-family: "Bungee", sans-serif;
     font-weight: 400;
     font-style: normal;
     color: var(--title-color);

   }
   & .hero-subtitle{


      text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
     color: var(--supporting-color);
     font-weight: 700;
     margin-bottom: 4rem;
   }

   & .hero-para{
         font-size: 1.4rem;
        text-transform: none;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        color: rgb(240, 211, 175);

   }

   & .grid{

        margin-top: 2.5rem;
        padding-top: 2.5rem;

        & .btn-hire{

         background-color: #eb9f12;

        }

   }

}
.section-hero-image  {
  margin: 0 auto;
& figure{
width: 50rem;
height: 50rem;
background-color: #f5cb8d;
border-radius: 50%;
text-align: center;
overflow: hidden;
box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: all 0.3s ease-in-out ;
&:hover{

 box-shadow: var();
transform: translate3d();
box-shadow: var(--image-box-shadow);
transform: scale(1.09);
}

& img{

  width: 80%;
  height: auto;
  transform: translate(1rem,6rem);
  
 
}

}
}
.custom-shape-divider-bottom-1752324104 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1752324104 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1752324104 .shape-fill {
    fill: #FFFFFF;
}

/* ===========End hero Section ================== */


/* ===========start About Section ================== */


.section-about-image  {
  margin: 0 auto;
& figure{
width: 40rem;
height: 40rem;
background-color: #5e0d18;
border-radius: 10%;
text-align: center;
overflow: hidden;
box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: all 0.3s ease-in-out ;

&:hover{ 
box-shadow: var(--image-box-shadow);
transform: scale(1.09);
}

& img{

  width: 80%;
  height: auto;
  transform: translate(-1rem,5rem);
  
 
}

}
}


.section-about-content{

& .hero-subtitle{


      text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
     color: var(--heading-color);
     font-weight: 700;
     margin-bottom: 4rem;
   }

   & .hero-para{
         font-size: 1.6rem;
        text-transform: none;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        color: var(--para-color)

   }
   & .about-btn{

    margin-top: 4rem;

   }
}

.about-btn{
  width: 80%;
  height: auto;
  gap: 2.5rem;

}




/* ===========End About Section ================== */

/* ===========Start education Section ================== */


.section-education .grid{

gap: 4rem;



}
.education-container{


box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 2rem 2rem;
border-radius: 10%;
text-align: center;
margin: 0 auto;
line-height: 3rem;

}

.logo{
  width: 30rem;
  height: 20rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 4rem;


}



.education-container .logo figure{

width: 22rem;
height: 22rem;
background-color: #0062ff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;


& img{

 width: 34rem;
height: 34rem;
 
  height: auto;
}
}
.education-container .vck-logo figure img{


width: 44rem;
height: auto;


}
.education-container .gpk-logo  figure img{

width: 44rem;
height: 22rem;


}
.education-content{
  
  overflow: hidden;
  padding: 2rem 2rem;
 

}







/* ===========End education Section ================== */


/* ===========Start Skill Section ================== */


.section-Skill .container .grid{

  width: 100%;
  height: auto;
  gap: 5rem;

}





.skill-content .logo{

width: 100%;
height: auto;
margin-bottom: 2rem;

}
.skill-content .logo figure{
   width: 20rem;
   height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(skyblue,rgb(65, 2, 13));
  border-radius: 50%;

  & img{

    width: 15rem;
    height: 15rem;
  }

}
.skill-content .skill-name p{

font-weight: 600;
font-size: 2.5rem;
color: var(--title-color);




}


/* ===========End Skill Section ================== */
